# {{ ansible_managed }}

{% if vault_disable_mlock | lower == "true" %}
disable_mlock = true
{% endif %}

storage "consul" {
	address = "{{ vault_storage_consul }}"
	path    = "vault/"
	token   = "{{ vault_consul_token }}"
}

ui = {{ vault_enable_ui | lower }}

listener "tcp" {
	address     = "{{ vault_tcp_listener }}"
	tls_disable = {{ vault_tls_disable }}
}
